.header {
  display: flex;

  .new-todo {
    width: 70%;
  }

  .button {
    background-color: rgb(175,47,47);
    color: white;
    padding: 0 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 16px 2px;
    cursor: pointer;
    height: 30px;
    font-weight: 400;
  }
}
.todo-list {
  columns: 3;
  -webkit-columns: 3;
  -moz-columns: 3;
}