<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>KiWi • Phonewords</title>
    <link rel="stylesheet" type="text/css" href="/static/phoneword/base.min.css">
    <link rel="stylesheet" type="text/css" href="/static/phoneword/index.min.css">
    <link rel="stylesheet" type="text/css" href="/static/app.css">
  </head>
  <body>
    <section class="todoapp" id="root"></section>
    <% if (env === 'production') { %>
      <script src="/static/app.min.js"></script>
    <% } else { %>
      <script src="/static/app.js"></script>
    <% } %>
  </body>
</html>
